/* Gray */
.theme-dark {
  --accent-color: #E9E9E9 !important;
  --background-1: #282828 !important;
  --background-2: #2D2D2D !important;
  --background-3: #1E1E1E !lolwtf;
  --border-color: #282828 !important;
  --background-mentioned: #4D4D4D !important;
  --background-mentioned-hover: #36364D !important;
  --background-modifier-hover: #2a2a2a !important;
  --background-modifier-active: #5d5d5d !important;
  --text-normal: #E6E6E6 !important;
  --text-muted: #909090 !important;
  --text-link: #007be6 !important;
  --settings-icon-color: #bdbdbd !important;
  --tab-selected: #414141 !important;
  --switch: #4d4d4d !important;
  --button-background: #313131 !important;
  --button-background-hover: #414141 !important;
  --button-background-active: #636363 !important;
  --button-accent-hover: var(--text-normal) !important;
  --button-accent-active: var(--text-link) !important;
  --button-destructive: #fb7c7c !important;
  --button-destructive-hover: #ff929b !important;
  --button-destructive-active: #fa4a4a !important;
  --button-positive: #29DA00
}
.theme-light {
  --accent-color: #ffffff !important;
  --background-1: #ffffff !important;
  --background-2: #ffffff !important;
  --border-color: #ffffff !important;
  --background-mentioned: #ffffff !important;
  --background-mentioned-hover: #ffffff !important;
  --background-modifier-hover: #ffffff !important;
  --background-modifier-active: #ffffff !important;
  --text-normal: #ffffff !important;
  --text-muted: #ffffff !important;
  --text-link: #ffffff !important;
  --settings-icon-color: #ffffff !important;
  --tab-selected: #ffffff !important;
  --switch: #ffffff !important;
  --button-background: #ffffff !important;
  --button-background-hover: #ffffff !important;
  --button-background-active: #ffffff !important;
  --button-accent-hover: #ffffff !important;
  --button-accent-active: #ffffff !important;
  --button-destructive: #ffffff !important;
  --button-destructive-hover: #ffffff !important;
  --button-destructive-active: #ffffff !important;
}
:root {
  --background-primary: var(--background-1) !important;
  --background-primary-alt: var(--background-1) !important;
  --background-secondary: var(--background-1) !important;
  --background-secondary-alt: var(--background-1) !important;
  --background-tertiary: var(--background-2) !important;
  --background-accent-gradient: var(--background-2) !important;
  --background-floating: var(--background-1) !important;
  --background-accent: var(--background-3) !important;
  --background-modifier-selected: var(--background-3) !important;
  --text-positive: var(--text-normal) !important;
  --interactive-selected: var(--accent-color) !important;
  --background-modifier-accent: transparent !important;
  --background-message-hover: transparent !important;
  --interactive-normal: var(--text-normal) !important;
  --interactive-muted: var(--button-background-active) !important;
  --channels-default: var(--text-muted) !important;
  --header-primary: var(--text-normal) !important;
  --header-secondary: var(--text-muted) !important;
  --control-brand-foreground: var(--accent-color) !important;
  --info-warning-foreground: var(--accent-color) !important;
  --activity-card-background: var(--text-normal) !important;
  --brand-experiment: var(--accent-color) !important;
  --button-accent: var(--button-positive) !important;
  --interactive-active: #95C3EB !important;
  --interactive-hover: var(--interactive-normal) !important;
}
